html, body{  
    margin: 0;
    padding: 0;
}

img{
    padding-top: 55px;;
    padding-left: auto;
    padding-right: auto;
}

div{ 
    display: flex; 
    justify-content: center; 
    align-items: center;
}


a {
    text-decoration: none;
}

a {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    color: #494949;  
}

p {
    font-size: 12px;
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    color: #494949;
}

#eins{
    padding-top: 55px;
}


header{
    width: 100%;
    height: 55px;;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 3;
}

#logo {
    display: flex; 
    justify-content: center; 
    align-items: center;
    float: left;
    margin: 20px 0 0 5%;
}

#logo:hover {
    opacity: 0.5;
}